/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-image: url(img/back_con_fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #e9ecef;
    height: 50px;
}

.navbar-brand img {
    margin-right: 5px;
}

.navbar-toggler {
    border: none;
}

/* Estilos del formulario */
.container {
    max-width: 500px;
    margin: 50px auto;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 20px;
}

form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    background-color: #333;
    border: 1px solid #fff;
    padding: 10px;
    box-shadow: 0 0 10px #fff;
}